<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>Saved</title>
</head>

<body>
    <div class="container">
        <ul class="navigation">
            <%- include("./partials/listSaved.ejs") %>
        </ul>
        <% if (currentUser) { %>
        <h1 class="heading">Saved Exercises and Stretches</h1>
            <ul class="cards">
                <% for(let i=0; i < exercises.length; i++){ %>
                    <div class="card">
                        <li>
                            <a class="index-list" href="/exercises/<%=exercises[i]._id%>">
                                    <%=exercises[i].name %> <br />
                                <img class="image" src="<%=exercises[i].image%>">
                            </a>
                        </li>
                    </div>
                    <% } %>
            </ul>
            <ul class="cards">
                <% for(let i=0; i < stretches.length; i++){ %>
                    <div class="card">
                        <li>
                            <a class="index-list" href="/stretches/<%=stretches[i]._id%>">
                                    <%=stretches[i].name %> <br />
                                <img class="image" src="<%=stretches[i].image%>">
                            </a>
                        </li>
                    </div>
                    <% } %>
            </ul>
            <% } else { %>
                <h1 class="heading">Only Members Can Save Exercises and Stretches</h1>
                <% } %>
                    <footer>
                        <%- include("./partials/footer.ejs") %>
                    </footer>
    </div>
</body>

</html>