<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>Edit</title>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">
            <%- include("../partials/listStretch.ejs") %>.
        </ul>
        <h1>Edit Stretch</h1>
        <div class="card">
            <form action="/stretches/<%=i%>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%=stretch.name%>"> <br>
                Muscle: <input type="text" name="muscle" value="<%=stretch.muscle%>"> <br>
                Time: <br> <input type="number" name="time" value="<%=stretch.time%>"> <br>
                Description: <input type="text" name="description" value="<%=stretch.description%>"> <br>
                Image: <input type="text" name="image" value="<%=stretch.image%>"> <br>
                Save?: <br> <input type="number" name="saved" value="<%=stretch.saved%>" placeholder="1 for Yes"> <br>
                <input class="form" type="submit" value="EDIT">
            </form>
            <a class="button back" href="/stretches/<%=i%>">BACK</a>
        </div>
        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>