<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <title>Stretch</title>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">
            <%- include("../partials/listStretch.ejs") %>
        </ul>
        <h1>
            <%=stretch.name%>
        </h1>
        <div class="card width">
            <div>
                <h3>
                    Muscle Targeted: <%=stretch.muscle%>
                </h3><br>
                <h3>
                    Stretch Time: <%=stretch.time%> seconds
                </h3><br>
                <p>
                    <%=stretch.description%>
                </p><br>
                <img class="training" src="<%=stretch.image%>">
            </div>
            <% if (stretch.saved < 1) { %>
                <a class="button saved" href="/saved/stretch/<%=stretch._id%>">SAVE</a>
            <%} else if (stretch.saved > 0) {%>
                <a class="button saved" href="/saved/unsave/stretch/<%=stretch._id%>">UNSAVE</a>
            <% } %>
            <form action="/stretches/<%=stretch._id%>?_method=DELETE" method="POST"
                style="display:inline; margin-left: 16px">
                <input class=" button delete" type="submit" value="DELETE">
            </form>
            <a class="button edit" href="/stretches/<%=stretch._id%>/edit">EDIT</a> <br>
            <a class="button back" href="/stretches">BACK</a>
        </div>
        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>