<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>Exercises</title>
</head>

<body>
    <div class="container">
        <ul class="navigation">
            <%- include("../partials/listExercise.ejs") %>
        </ul>
        <h1 class="heading">Exercises</h1>
        <ul class="cards">
            <% for(let i=0; i < exercises.length; i++){ %>
                <div class="card">
                    <li>
                        <a class="index-list" href="/exercises/<%=exercises[i]._id%>">
                                <%=exercises[i].name %> <br>
                            <img class="image" src="<%=exercises[i].image%>">
                        </a>
                    </li>
                </div>
                <% } %>
        </ul>
        <nav>
            <% if (currentUser) { %>
                <a class="button create" href="/exercises/new">
                    CREATE
                </a>
                <% } %>
        </nav>

        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>