<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <title>Exercise</title>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">
            <%- include("../partials/listExercise.ejs") %>
        </ul>
        <h1>
            <%=exercise.name%>
        </h1>
        <div class="card width">
            <div>
                <h3>
                    Muscle Worked: <%=exercise.muscle%>
                </h3> <br>
                <h3>
                    Difficulty Level: <%=exercise.difficulty%>/10
                </h3><br>
                <p>
                    <%=exercise.description%>
                </p><br>
                <img class="training" src="<%=exercise.image%>">
            </div>
            <% if (exercise.saved < 1) { %>
                <a class="button saved" href="/saved/exercise/<%=exercise._id%>">SAVE</a>
            <%} else if (exercise.saved > 0) {%>
                <a class="button saved" href="/saved/unsave/exercise/<%=exercise._id%>">UNSAVE</a>
            <% } %>
            <form action="/exercises/<%=exercise._id%>?_method=DELETE" method="POST"
                style="display:inline; margin-left: 16px">
                <input class="button delete" type="submit" value="DELETE">
            </form>
            <a class="button edit" href="/exercises/<%=exercise._id%>/edit">EDIT</a> <br>
            <a class="button back" href="/exercises">BACK</a>
        </div>
        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>