<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">.
            <%- include("../partials/listExercise.ejs") %>
        </ul>
        <h1>Exercises</h1>
        <ul>
            <% for(let i=0; i < exercises.length; i++){ %>
                <div class="card">
                    <li>
                        <a class="index-list" href="/exercises/<%=exercises[i]._id%>">
                            <%=exercises[i].name %>
                        </a>
                    </li>
                </div>
                <% } %>
        </ul>
        <nav>
            <a class ="button create" href="/exercises/new">
                CREATE
            </a>
        </nav>

        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>