<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>Edit</title>
</head>

<body>
    <div class="container">
        <ul class="navigation">
            <%- include("../partials/listExercise.ejs") %>
        </ul>
        <h1 class="heading">Change Exercise</h1>
        <div>
            <form action="/exercises/<%=i%>?_method=PUT" method="POST">
                <input type="text" name="name" value="<%=exercise.name%>" placeholder="Exercise Name"> <br>
                <input type="text" name="muscle" value="<%=exercise.muscle%>" placeholder="Muscle Targeted"> <br>
                <input type="number" name="difficulty" value="<%=exercise.difficulty%>" placeholder="Difficulty (1-10)"> <br>
                <input type="text" name="description" value="<%=exercise.description%>" placeholder="Movement Description"> <br>
                <input type="text" name="image" value="<%=exercise.image%>" placeholder="Image Address"> <br>
                <input type="number" name="saved" value="<%=exercise.saved%>" placeholder="1=Save:0=Unsave"> <br>
                <input class="form" type="submit" value="UPDATE">
            </form>
            <form action="/exercises/<%=exercise._id%>?_method=DELETE" method="POST"
                style="display:inline; margin-left: 16px">
                <input class="button delete" type="submit" value="DELETE">
            </form> <br />
            <a class="button back margin" href="/exercises/<%=i%>">BACK</a>
        </div>
        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>